/* import icon */
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?l4ildj");
  src: url("../fonts/icomoon.eot?l4ildj#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?l4ildj") format("truetype"),
    url("../fonts/icomoon.woff?l4ildj") format("woff"),
    url("../fonts/icomoon.svg?l4ildj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  padding-left: 10px;
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";

  padding-right: 10px;
}

.nav .open > a { background-color: transparent; }
  
.nav .open > a:hover { background-color: transparent; }

.nav .open > a:focus { background-color: transparent; }
 
/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled { padding-left: 310px; }

#wrapper.toggled #side-bar { width: 310px; }

#wrapper.toggled #page-content-wrapper {
  margin-right: -310px;
  position: absolute;
}

#side-bar {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  background: #1a1a1a;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 0;
  z-index: 10;
}
#side-bar::-webkit-scrollbar {
 display: none;
}

#page-content-wrapper {
  width: 100%;
}
/*-------------------------------*/
  /*     Sidebar nav styles        */
  /*-------------------------------*/
  
  .sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 310px;
  }
  .sidebar-nav li {
    display: inline-block;
    line-height: 20px;
    position: relative;
    width: 100%;
    background: transparent !important;
  }
  
  .sidebar-nav li:before {
    -moz-transition: width 0.2s ease-in;
    -ms-transition: width 0.2s ease-in;
    -webkit-transition: width 0.2s ease-in;
    background-color: #1c1c1c;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 3px;
    z-index: -1;
  }
  
  .sidebar-nav li:nth-child(2):before { background-color: #ffcb05; }
  
  .sidebar-nav li:nth-child(3):before { background-color: #fad029; }
  
  .sidebar-nav li:nth-child(4):before { background-color: #ffde59; }
  
  .sidebar-nav li:nth-child(5):before { background-color: #fce073; }
  
  .sidebar-nav li:hover:before {
    -webkit-transition: width 0.5s ease-in;
    transition: width 0.5s ease-in;
    width: 100%;
  }
  
  .sidebar-nav li a {
    color: #dddddd;
    display: block;
    padding: 20px 15px !important;
    text-decoration: none;
    background-color: transparent !important;
  }
  
  .sidebar-nav li.open:hover before {
    -webkit-transition: width 0.5s ease-in;
    transition: width 0.5s ease-in;
    width: 100%;
  }

  .sidebar-nav .dropdown-menu {
    background-color: #222222;
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
  }
  
  .sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus, .sidebar-nav li.open a:hover, .sidebar-nav li.open a:active, .sidebar-nav li.open a:focus {
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
  }
  
  .sidebar-nav > .sidebar-brand {
    font-size: 20px;
    height: 65px;
    line-height: 44px;
  }

/*-------------------------------*/
  /*       Hamburger-Cross         */
  /*-------------------------------*/
  
  .hamburger {
    background: transparent;
    border: none;
    display: block;
    height: 28px;
    position: fixed;
    top: 20px;
    width: 28px;
    z-index: 1000;
  }
  
  .hamburger:hover { outline: none; }
  
  .hamburger:focus { outline: none; }
  
  .hamburger:active { outline: none; }
  
  .hamburger.is-closed:before {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    color: #ffffff;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: 100px;
  }
  
  .hamburger.is-closed:hover before {
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    display: block;
    opacity: 1;
  }
  
  .hamburger.is-closed:hover .hamb-top {
    -webkit-transition: all 0.35s ease-in-out;
    top: 0;
  }
  
  .hamburger.is-closed:hover .hamb-bottom {
    -webkit-transition: all 0.35s ease-in-out;
    bottom: 0;
  }
  
  .hamburger.is-closed .hamb-top {
    -webkit-transition: all 0.35s ease-in-out;
    background-color: #fff;
    top: 5px;
  }
  
  .hamburger.is-closed .hamb-middle {
    background-color: #fff;
    margin-top: -2px;
    top: 50%;
  }
  
  .hamburger.is-closed .hamb-bottom {
    -webkit-transition: all 0.35s ease-in-out;
    background-color: #fff;
    bottom: 5px;
  }
  
  .hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom, .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom {
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%;
  }
  
  .hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    background-color: #ffffff;
    margin-top: -2px;
    top: 50%;
  }
  
  .hamburger.is-open .hamb-middle {
    background-color: #ffffff;
    display: none;
  }
  
  .hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    background-color: #ffffff;
    margin-top: -2px;
    top: 50%;
  }
  
  .hamburger.is-open:before {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    color: #ffffff;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: 100px;
  }
  
  .hamburger.is-open:hover before {
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    display: block;
    opacity: 1;
  }
  /*-------------------------------*/
  /*          Dark Overlay         */
  /*-------------------------------*/
  
  .overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
  }
  
/* mi's code */
#wrapper {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

#header {
  width: 100%;
  background-image: url("../img/cover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.img-logo {
  background-image: url("../img/header-logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
}

#menu {
 
}

#menu ul {
  color: #fff;
  margin-bottom: 0px;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  padding: 0px;
  right: 0px;
}

#menu ul li {
  list-style: none;
  display: inline-block;
  padding: 0px 20px;
}
#menu ul li:last-child {
  padding-right: 0px;
}
#menu a {
  color: #fff;
}

#menu a:hover {
  text-decoration: none;
  opacity: 0.6;
}

#slogan a {
  background-color: transparent;
  border: 1.5px solid #ffcb05;
  color: #ffcb05;
  padding: 10px 20px;
  margin-top: 20px;
}
#slogan a:hover {
  text-decoration: none;
}

.title {
  color: #3a3939;
  text-align: center;
  text-transform: uppercase;
}
.sub-title {
  color: #ffcb05;
  text-transform: uppercase;
}

#outsourcing img {
  background-image: url("../img/kevin-bhagat-343433-unsplash.jpg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#outsourcing {
  text-align: right;
  position: relative;
}

#outsourcing ul {
  list-style: none;
  padding-left: 0px;
}
#outsourcing h5,
#industries h5 {
  color: #ffcb05;
}
#industries {
  position: relative;
  margin-top: 40px;
}
#industries img {
  background-image: url("../img/austin-distel-1555611-unsplash.jpg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#industries ul {
  list-style: none;
  padding-left: 0px;
}

#case-studies {
}

#case-studies img {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tit {
  background-color: #3a3939;
  color: #fff;
  text-align: center;
  padding: 10px 0px;
}

.text {
  text-align: justify;
  color: #3a3939;
  line-height: 30px;
  margin: 20px 0px;
}
.quote {
  background-color: #fff;
  
}
.quote img {
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
}

.author {
  text-align: right;
}
#client img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  position: absolute;
}

/* responsive */
@media only screen and (min-width: 1200px) {
  #services,
  #case-studies,
  #about,
  #client-comment,
  #contact,
  #client {
    padding: 50px;
  }

  .format {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
  #slogan {
    line-height: 40px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
  }
  #header {
    height: 620px;
  }

  #top-bar1,
  #slogan {
    padding: 50px;
  }
  .img-logo {
    height: 50px;
    width: 275px;
  }
  #menu{
    height: 50px;
  }
  .line {
    border-bottom: 2px solid #ffcb05;
    width: 100px;
    margin: auto;
  }
  .line2 {
    border-bottom: 2px solid #fff;
    width: 100px;
    margin: auto;
  }
  #outsourcing img,
  #industries img, #outsourcing .col-sm-4, #industries .col-sm-4 {
    height: 300px;
  }
  #outsourcing h5, #industries h5{
    font-size: 20px;
  }

  #outsourcing, #industries {
    line-height: 35px;
  }
  #case-studies img {
    height: 250px;
  }

  .quote{
    padding: 10px;
  margin-top: 30px;
  }

  #footer img{
    height: 40px
  }
  #top-bar2{
    display: none;
  }
  #menu{
    height: 50px;
  }
  #client .row, #client .col-xs-3{
    height: 100px;
  }
  #client img{
    width: 70%;
    padding: 10px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  #services,
  #case-studies,
  #about,
  #client-comment,
  #contact,
  #client {
    padding: 40px;
  }
  #top-bar2{
    display: none;
  }
  .format {
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
  }
  #slogan {
    line-height: 40px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
  }
  #header {
    height: 586px;
  }

  #top-bar1,
  #slogan {
    padding: 40px;
  }
  #slogan h1 {
    font-size: 35px;
  }
  .img-logo {
    height: 40px;
    width: 220px;
  }
  #menu{
    height: 40px;
  }
  .line {
    border-bottom: 2px solid #ffcb05;
    width: 100px;
    margin: auto;
  }
  .line2 {
    border-bottom: 2px solid #fff;
    width: 100px;
    margin: auto;
  }
  #outsourcing img,
  #industries img, #outsourcing .col-sm-4, #industries .col-sm-4 {
    height: 265px;
  }
  #outsourcing, #industries {
    line-height: 30px;
  }

  #outsourcing h5, #industries h5{
    font-size: 18px;
  }

  #case-studies img {
    height: 250px;
  }

  .quote{
    padding: 10px;
  margin-top: 30px;
  }
  
  #footer img{
    height: 35px
  }
  #client .row, #client .col-xs-3{
    height: 50px;
  }
  #client img{
    width: 70%;
    padding: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  #services,
  #case-studies,
  #about,
  #client-comment,
  #contact,
  #client  {
    padding: 30px;
  }

  .format {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
  #slogan {
    line-height: 30px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
  }
  #header {
    height: 426px;
  }

  #top-bar1,
  #slogan {
    padding:30px;
  }
  #slogan h1 {
    font-size: 30px;
  }
  #slogan p{
    margin-bottom: 0px;
  }
  .img-logo {
    height: 30px;
    width: 165px;
  }
  #menu{
    height: 30px;
  }
  .line {
    border-bottom: 2px solid #ffcb05;
    width: 100px;
    margin: auto;
  }
  .line2 {
    border-bottom: 2px solid #fff;
    width: 100px;
    margin: auto;
  }
  #outsourcing img,
  #industries img, #outsourcing .col-sm-4, #industries .col-sm-4 {
    height: 186px;
  }
  #outsourcing, #industries {
    line-height: 30px;
  }
  #outsourcing h5, #industries h5{
    font-size: 15px;
  }
  #case-studies img {
    height: 200px;
  }
  .quote{
    padding: 10px;
  margin-top: 30px;
  }
  
  #footer img{
    height: 30px
  }
  #top-bar2{
    display: none;
  }
  #client .row, #client .col-xs-3{
    height: 50px;
  }
  #client img{
    width: 80%;
    padding: 10px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px){
  #services,
  #case-studies,
  #about,
  #client-comment,
  #contact,
  #client  {
    padding: 20px;
  }

  .format {
    max-width: 576px;
    margin-left: auto;
    margin-right: auto;
  }
  #slogan {
    line-height: 30px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
  }
  #header {
    height: 386px;
  }

  #top-bar1{
    display: none;
  }
  #slogan {
    padding:30px;
  }
  #slogan h1 {
    font-size: 30px;
  }
  #slogan p{
    margin-bottom: 0px;
  }
  #menu{
    height: 30px;
  }
  .img-logo {
    height: 30px;
    width: 165px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    margin-top: 30px;
}

  .line {
    border-bottom: 2px solid #ffcb05;
    width: 100px;
    margin: auto;
  }
  .line2 {
    border-bottom: 2px solid #fff;
    width: 100px;
    margin: auto;
  }
  #outsourcing img,
  #industries img, #outsourcing .col-sm-4, #industries .col-sm-4  {
    height: 186px;
  }
  #outsourcing, #industries {
    line-height: 25px;
  }

  #outsourcing h5, #industries h5{
    font-size: 15px;
  }

  #case-studies img {
    height: 150px;
  }

  #footer img{
    height: 30px
  }
  .quote{
    padding: 10px;
  margin-top: 30px;
  }
  #client .row, #client .col-xs-3{
    height: 50px;
  }
  #client img{
    width: 80%;
    padding: 10px;
  }
}
@media (max-width: 575.98px){
  #services,
  #case-studies,
  #about,
  #client-comment,
  #contact,
  #client  {
    padding: 20px;
  }

  .format {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
  #slogan {
    line-height:0px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
  }
  #header {
    height: 326px;
  }

  #top-bar1{
    display: none;
  }
  #slogan {
    padding:30px;
  }
  #slogan h1 {
    font-size: 18px;
  }
  #slogan p{
    margin-bottom: 0px;
  }
  .img-logo {
    height: 30px;
    width: 165px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    margin-top: 30px;
}
#menu{
    height: 30px;
  }
  .line {
    border-bottom: 2px solid #ffcb05;
    width: 100px;
    margin: auto;
  }
  .line2 {
    border-bottom: 2px solid #fff;
    width: 100px;
    margin: auto;
  }
  #outsourcing img,
  #industries img, #outsourcing .col-sm-4, #industries .col-sm-4  {
    height: 126px;
  }
  #outsourcing, #industries {
    line-height: 25px;
  }

  #outsourcing h5, #industries h5{
    font-size: 15px;
  }
  #outsourcing ul, #industries ul{
    font-size: 11px;
    line-height: 20px;
  }

  #case-studies img {
    height: 100px;
  }

  #footer img{
    height: 30px
  }
  .quote{
    padding: 5px;
  margin-top: 30px;
  }
  .small{
    display: none;
  }
  #case-studies a {
    background-color: transparent;
    border: 1.5px solid #fff;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }
.sub-title{
	margin-top: 20px;
}
#client .row, #client .col-xs-3{
    height: 30px;
  }
  #client img{
    width: 90%;
    padding: 10px;
  }
}